.jumbotron {
  background-image: url('../images/stem.jpg');
     background-size:contain;
	min-height: 500px;
  background-repeat: no-repeat;

}
#mission {
  background: rgba(32, 35, 41, 0.9);
  color: #F5F5F5;

}
a#stem {
	font-family: courier;
} 
#paragraph {font-size: 25Px;
color: #BC8F8F; }

.my-img {

	width: 120px;
	height: 120px;
}
#paragraph2 {font-size: 25px;
background-color:#C0C0C0;
color:#2E8B57;}
